header h1 {
    font-size: 1.5rem;
    text-align: start;
    background-color: lightpink;
}

header nav ul {
    background-color:lightgray;
    display:flex;
    justify-content: space-around;
    list-style-type:none;
    padding: 7px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 300px;
}

.main-content {
    background-color: lightblue;
    padding: 20px;
}

aside {
    background-color: lightgreen;
    padding: 20px;
}

footer {
    background-color: lightsalmon;
    text-align: center;
    padding: 1rem;
}