header h1 {
    color:blue;
    font-size: 2rem;
    text-align: start;
}

header nav ul {
    background-color:aqua;
    display:flex;
    justify-content: space-around;
    list-style-type:none;
    
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 300px;
}

.main-content {
    background-color: lightblue;
    padding: 20px;
}

aside {
    background-color: lightgreen;
    padding: 20px;
}

footer {
    background-color: aqua;
    text-align: center;
    padding: 1rem;
}