body {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
}

header {
    background-color: #441b5d;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: "roboto", sans-serif;
    margin: 0;
    font-size: 1.6rem;
}

#menu {
    font-size: 1.5rem;
    background-color: #7c7cb2;
    border: none;
    color: #141010;
    cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  background-color: beige;
  position: absolute;
  top: 60px; /* debajo del header */
  right: 0;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Clase que se activa con JS */
nav.open {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: #141010;
  text-decoration: none;
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
}

nav a:hover {
  background-color: darkblue;
  
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.album {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


.temple-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.temple-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figure {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 350px;
  transition: transform 0.2s ease;
}

figure:hover {
  transform: scale(1.03);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figure caption {
  display: block;
  margin-top: 0.8rem;
  font-weight: 500;
  color: #1a0b5d;
  font-size: 1rem;
}

footer {
    background-color: #441b5d;
    color: white;
    text-align: center;
    padding: 1rem;
}





