* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Encabezado*/

header {
    background-color: #c8e4b3;
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
    border-bottom: 4px solid #73915c;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*Formulario*/

form {
    background-color: #e8f3e0;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(115, 145, 92, 0.3);
    
}   
/*Etiquetas y leyendas*/

label {
    display: block;
    margin-top: 2rem;

}

legend {
    display: block;
    margin-top: 2rem;
}

/*Campos de entrada*/

input[type=date],
select,
textarea,
input[type=text] {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    border: 1px solid #324723;
    border-radius: 6px;
    background-color: #f9fbf8;
    display: block;
    
}

textarea {
    width: 100%;
    height: 100px;
    padding: 0;

}

.rating {
    display: flex;
    align-content: space-between;
    margin-top: .5rem;
    
}

/*Submit button*/

input[type="submit"] {
    border: .5px #324723;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #73915c;
}

footer {
    padding: 1.5rem;
    background-color: #c8e4b3;
    text-align: center;
}