:root {
  --green: #006341;
  --red: #CE1126;
  --white: #FFFFFF;
  --shadow: #00000033;
  --font-main: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-main);
  margin: 0;
  background-color: var(--white);
  color: #333;
}

header {
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

main {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 4px solid var(--green);
}

.data, .weather {
  position: absolute;
  background-color: #ffffffd9;
  box-shadow: 0 0 10px var(--shadow);
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}

.data {
  top: 20%;
  left: 5%;
  border-left: 6px solid var(--green);
}


.weather {
  top: 20%;
  right: 5%;
  border-left: 6px solid var(--green);
}

/*.weather h2::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/cloud-sun-fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.5rem;
}*/

.weather-icon {
  width: 24px;
  height: 24px;
  display: none;
}

.weather h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* espacio entre texto e ícono */
}

footer {
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .data, .weather {
    position: static;
    margin: 1rem auto;
    width: 90%;
  }
  .weather-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: text-top;
  }
  
  .weather h2::after {
    display: none;
  }
}