body {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
}

header {
    background-color: #441b5d;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: "roboto", sans-serif;
    margin: 0;
}

#menu {
    font-size: 1.5rem;
    background-color: #7c7cb2;
    border: none;
    color: #141010;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column; /* en móvil se apilan */
    background-color: beige;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-bottom: 1px solid beige;
}

nav a:hover {
    background-color: darkblue;
}

/*.navigation {
    display: none;
    flex-direction: column;
    background-color:beige;
}*/

/*.navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-bottom: 1px solid beige;
}*/

/*.navigation a:hover {
    background-color: darkblue;
}*/

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.album {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}

footer {
    background-color: #441b5d;
    color: white;
    text-align: center;
    padding: 1rem;
}

